@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom variables */
:root {
    /* ## Colors  */
    /* ### Primary  */
    --cl-DarkBlue-1: hsl(217, 28%, 15%);
    /* intro and email sign up background */

    --cl-DarkBlue-2: hsl(218, 28%, 13%);
    /* main background */

    --cl-DarkBlue-3: hsl(216, 53%, 9%);
    /* footer background */

    --cl-DarkBlue-4: hsl(219, 30%, 18%);
    /* testimonials background */

    /* ### Accent  */
    --cl-Cyan: hsl(176, 68%, 64%);
    /* inside call-to-action gradient */

    --cl-Blue: hsl(198, 60%, 50%);
    /* inside call-to-action gradient */

    --cl-LightRed: hsl(0, 100%, 63%);
    /* error */

    /* ### Neutral  */
    --cl-White: hsl(0, 0%, 100%);
}

/* global css */
html {
    font-size: 14px;
    color: var(--cl-White);
}

section {
    margin-top: 7rem;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
a {
    font-family: 'Raleway', sans-serif;
}

p {
    opacity: .85;
}

/* custom scrollbar page */
::-webkit-scrollbar {
    width: 1.2rem;
    background: var(--cl-DarkBlue-3);
}

::-webkit-scrollbar-thumb {
    background: var(--cl-DarkBlue-4);
    border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {

    background: var(--cl-DarkBlue-1);
}

/* actual css */
/* header */
header {
    background: linear-gradient(to bottom, var(--cl-DarkBlue-2),
            var(--cl-DarkBlue-1)), url('../images/bg-curvy-mobile.svg') no-repeat;
    background-position: center bottom 17rem;
    background-blend-mode: darken;
}

.intro-btn {
    background: linear-gradient(to right, var(--cl-Cyan) 5%, var(--cl-Blue) 90%);
    transition: all 250ms ease-in-out;
}

.intro-btn:hover {
    background: linear-gradient(to right, hsl(175, 72%, 75%) 5%, hsl(198, 70%, 67%) 90%);
}

/* section 2 */
.section-2-link:hover .section-2-link-svg {
    fill: white;

}

/* footer */
footer {
    margin-top: 23rem;
    padding: 14rem 0 3rem 0;
}

.facebook-icon,
.twitter-icon,
.instagram-icon {
    height: 2rem;
    width: 2rem;
    padding: .45rem;
}

@media(min-width:768px) {
    header {
        background: linear-gradient(to bottom, var(--cl-DarkBlue-2),
                var(--cl-DarkBlue-1)), url('../images/bg-curvy-desktop.svg') center bottom -2.5rem no-repeat;
    }

    footer {
        padding-top: 14rem;
    }

}